body {
  background-color: rgb(63, 63, 63);
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Основной контейнер слайдера */
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 100%;
  width: 30rem;
  background-color: #282c34;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  color: white;
  transition: height 0.5s ease;
}

/* Контейнер для картинок */
.slider__image-container {
  width: 100%;
  overflow: visible;
  border-radius: 1rem;
}

/* Стили для картинок */
.slider__image {
  width: 100%;
  height: auto;
  display: none;
  border-radius: 1rem;
  opacity: 0;
  padding-top: 1.5rem;
  transition: opacity 0.5s ease;
}

.slider__image.active {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.slider__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Подпись под картинкой */
.slider__caption {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.slider__caption.active {
  opacity: 1;
}

/* Контролы */

.slider__controls {
  display: flex;
  justify-content: center;
}

.slider__control {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 0.3rem;
  background-color: #555;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.3rem;
  /* Увеличиваем область нажатия */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.slider__control.active {
  background-color: #007bff;
}

.slider__control:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.slider__control:focus {
  outline: none;
  transform: scale(1.1);
}

/* Показываем текущий слайд */
.slider__image.active {
  display: block;
  animation: fadeIn 1.5s ease;
}

/* Анимация смены слайдов */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
  .slider {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 620px) {
  .slider {
    width: 100%;
    padding: 1.8rem;
  }

  .slider__bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .slider__controls {
    margin-top: 1rem;
  }
}

@media (max-width: 420px) {
  .slider {
    width: 100%;
    padding: 1.8rem;
  }

  .slider__bottom {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .slider__controls {
    margin-top: 1rem;
  }
}